@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=STIX+Two+Text&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}



body 
{
  /*******************Some Default Stuff*******************/
  margin      : 0;
  font-family : 'Patrick Hand', 'STIX Two Text', cursive, -apple-system, 
  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  /*******************Some Default Stuff*******************/


  /*-_-_-_-_-_-_-_-_-_-_-Color Theming-_-_-_-_-_-_-_-_-_-_-*/
  --color-dark-blue : hsla(211, 100%, 6%, 1);
  --color-dark-green: hsla(181, 92%, 15%, 1);
  --color-light-blue: hsla(201, 81%, 40%, 1);
  --color-light-cyan: hsla(193, 86%, 48%, 1);
  --color-cyan      : hsla(194, 90%, 45%, 1);
  --color-white     : hsla(360, 100%, 100%, 1);
  --color-white-dark: hsla(0, 0%, 95%, 1);
  --color-black     : hsla(0, 0%, 0%, 1);
  --color-warning   : hsla(53, 100%, 50%, 1);
  --color-danger    : hsla(0, 100%, 50%, 1);
  /*-_-_-_-_-_-_-_-_-_-_-Color Theming-_-_-_-_-_-_-_-_-_-_-*/


  background-color: var(--color-dark-blue);
}



code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
